.landing-section {
  margin-bottom: 10em;
  width: 100vw;
  display: flex;
}

.landing-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.landing-section h2 {
  letter-spacing: 1px;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 1.2em;
}

.landing-section h3 {
  letter-spacing: 1px;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.p-landing {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 15em 3em;
  line-height: 1.3em;
}

.intro-project {
  font-size: 1em;
  font-weight: 300;
  width: 85vw;
  line-height: 1.3em;
  font-style: italic;
}

.name-sign {
  color: #a481fb;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
  top: 1em;
  left: 1em;
}

@media (max-width: 1050px) {
  .p-landing {
    margin: 0 2em 3em;
    width: auto;
  }
}

@media (max-width: 500px) {
  .landing-section {
    margin-bottom: 7em;
  }
}
