.battle-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 310px;
  background-color: #ffffff;
  border: 1px solid rgba(128, 128, 128, 0.159);
  box-shadow: 0px 5px 5px grey;
  border-radius: 3px;
  padding: 2em;
  margin: 2em;
}

.battle-card-img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  object-fit: cover;
}
.battle-card-p {
  margin: 1em 0;
  font-weight: 500;
  text-transform: uppercase;
}

/* hover */
.battle-card-container:hover {
  background-color: #ffccc9;
}

@media (max-width: 1050px) {
  .battle-card-img {
    width: 180px;
    height: 180px;
  }
}
