.b-one-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
}

.b-one-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  text-transform: uppercase;
  background-color: #a481fb;
  border: 1px solid #a481fb;
  border-radius: 0.2em;
  height: 6vw;
  padding: 1.3em;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 25%);
}
.b-one-container button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #a481fbed;
}

@media (max-width: 700px) {
  .b-one-container button {
    width: 185px;
  }
}
