.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;
}

@media (max-width: 500px) {
  .result-container {
    margin-bottom: 6em;
  }
}
