.hamster-gallery {
  margin-bottom: 10em;
}

.hamster-gallery h2 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 3em;
  font-weight: 300;
  margin: 0 0 1.5em;
}

.hamster-gallery .gallery-btn {
  margin-bottom: 4em;
}

.hamster-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  width: 900px;
  gap: 3em;
  justify-items: center;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.hamster-wrapper .flip-card-front .general-card-p {
  font-size: 1.2em;
}

.hamster-wrapper .flip-card-back .general-card-p {
  margin: 0;
}

/* Remove button */
.hamster-wrapper .remove-hamster {
  width: 100px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding: 0.8em 2em;
  background-color: #febc5e;
  border: 1px solid #febc5e;
  border-radius: 3px;
  font-size: 0.9em;
}
.hamster-wrapper .remove-hamster:hover {
  background-color: #febc5eed;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.hamster-wrapper .bi-trash3 {
  margin-left: 1em;
}

/* Warning message */
.hamster-wrapper .gallery-error {
  text-align: center;
}

.hide-general-p {
  display: none;
}

.hide-waring {
  display: none;
}
.show-waring {
  display: block;
  line-height: 1.5em;
}

.final-remove {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.show-waring button {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding: 0.8em 2em;
  background-color: #febc5e;
  border: 1px solid #febc5e;
  border-radius: 3px;
  font-size: 0.9em;
}
.show-waring button:hover {
  background-color: #febc5eed;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

@media (max-width: 1300px) {
  .hamster-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1050px) {
  .hamster-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    width: 80vw;
  }
}

@media (max-width: 700px) {
  .hamster-gallery {
    margin-bottom: 5em;
  }

  .hamster-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
