.cutest-hamster {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cutest-hamster h4 {
  letter-spacing: 1px;
  font-size: 1.1em;
  font-weight: 600;
  color: #a481fb;
  margin-bottom: 2.5em;
  text-transform: uppercase;
}

.cutest-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  border: 4px dotted #a481fb;
  border-radius: 3px;
  padding: 2em;
  margin-bottom: 5em;
}

@media (max-width: 1050px) {
  .cutest-container {
    flex-direction: column;
    padding: 2em 5em;
    width: auto;
  }
}

@media (max-width: 450px) {
  .cutest-container {
    padding: 2em 2em;
  }
}
